<div [@routerTransition]>
  <app-page-header [heading]="'Vos Roles'" [icon]="'fa-desktop'"></app-page-header>
  <div class="jumbotron">
      <form role="form">
          <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-list" aria-hidden="true"></i>
                <strong style="font-family: 'Playfair Display', serif">  Informations Sur Vos Roles </strong> 
                <br>
              </div>
              <div class="card-body table-responsive">
                  <table class="table">
                      <thead>
                      <tr style="text-align: center">
                        <th style="color:cornflowerblue">id</th>
                          <th style="color:cornflowerblue"> Libellé</th>
                          
                      </tr>
                      </thead>
                      <tbody>
                          <tr style="text-align: center" *ngFor="let role of roles">
                              <td >{{role.id}}</td>
                              <td>{{role.libelle}}</td>
                        
                           </tr>
                      
                      </tbody>
                  </table>
              
              </div>
          </div>
         
         
          
      </form>
  </div>
</div>
