<div [@routerTransition]>
  <app-page-header [heading]="'Changer Votre Mot de Passe'" [icon]="'fa-table'"></app-page-header>
  <div class="jumbotron">

        <form [formGroup]="registrationFormGroup" >

      <div class="card mb-3">
        <div class="card-header">
      <div class="form-group">
        <label for="oldpassword">Ancien mot de passe:</label>

        <input [(ngModel)]="y.password" required type="password" placeholder="Ancien mot de passe"  name="oldpassword" class="form-control" id="oldpassword" formControlName="oldpassword" (blur) ="OldPasswordTest()">

        
        <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.oldpassword.errors?.required && registrationFormGroup.controls.oldpassword.touched">Ce champ est obligatoire</p>
      </div>
    <div [formGroup]="passwordFormGroup">
        
      <div >
        <label for="newpassword">Nouveau mot de passe:</label>

        <input required [(ngModel)]="x.password" type="password"   placeholder="Nouveau mot de passe"  formControlName="newpassword" name="newpassword" class="form-control">

      </div>
      
      <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.newpassword.errors?.required && passwordFormGroup.controls.newpassword.touched">Ce champ est obligatoire</p>
      <div >
        <label for="confirmpassword">Confirmer mot de passe:</label>

        <input required  [(ngModel)]="confirmpassword"  type="password" placeholder="Confirmer mot de passe" formControlName="confirmpassword"  name="confirmpassword" class="form-control" >

      </div>
      
      <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.confirmpassword.errors?.required && passwordFormGroup.controls.confirmpassword.touched">Ce champ est obligatoire</p>
     <p class="alert alert-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Les mot de passes ne sont pas identiques</p>
       </div>  

     <div> <button class="btn btn-success" (click)="changePassword()" [disabled]="!registrationFormGroup.valid" > Changer </button> </div>

       </div>
       </div>
    </form>
    

</div>
</div>       
