<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Inscription</h1>
            <form [formGroup]="registrationFormGroup" (ngSubmit)="createUser()">
                
                <div class="form-group">
                    <input required [(ngModel)]="user.nom" type="text" class="form-control input-underline input-lg" name="nom"   formControlName="nom"  placeholder="Nom">
                </div>
                <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.nom.errors?.required && registrationFormGroup.controls.nom.touched">Ce champ est obligatoire</p>

                <div class="form-group">
                    <input required [(ngModel)]="user.prenom"  type="text" class="form-control input-underline input-lg" name="prenom" formControlName="prenom"   placeholder="Prénom"  >
                </div>
                <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.prenom.errors?.required && registrationFormGroup.controls.prenom.touched">Ce champ est obligatoire</p>
                 
                <div class="form-group">
                    <input required [(ngModel)]="user.username"  type="text" class="form-control input-underline input-lg" name="username" formControlName="username"   placeholder="Username"  >
                </div>
                <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.username.errors?.required && registrationFormGroup.controls.username.touched">Ce champ est obligatoire</p>
                 
                

                <div [formGroup]="passwordFormGroup">
                    <div>
                    <input required [(ngModel)]="user.mdp" type="password" class="form-control input-underline input-lg" name= "mdp" formControlName="mdp"  placeholder="Password">
                </div>
                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.mdp.errors?.required && passwordFormGroup.controls.mdp.touched">Ce champ est obligatoire</p>

                <div class="form-group">
                        <input  required type="password" [(ngModel)]="mdp2" class="form-control input-underline input-lg" name="repeatPassword" formControlName="repeatPassword"  placeholder="Repeat Password">
                    </div>
                    <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">Ce champ est obligatoire</p>
                    <p class="alert alert-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Les mot de passes ne sont pas identiques</p>
               </div>

                <div class="form-group">
                    <input required [(ngModel)]="user.email" type="text" class="form-control input-underline input-lg" name="email" formControlName="email" placeholder="Email" >
                </div>
                <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.email.errors?.required && registrationFormGroup.controls.email.touched">Ce champ est obligatoire</p>
                <p class="alert alert-danger"  *ngIf="registrationFormGroup.controls.email.errors?.pattern && registrationFormGroup.controls.email.touched"> Votre Email doit contenir le caractère "@" </p>
                
                
                    
                    <div class="form-group">
                        
                        <select required  [(ngModel)]="user.role"  (ngModelChange)="setNewRole($event)" class="form-control input-underline input-lg" style="color:gray" formControlName="role" name="role" id="sel1" >
                          
                          <option *ngFor="let role of roles"  [ngValue]="role" >  {{role.libelle}} </option>
                          
                        </select>
                      </div>
                      <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.role.errors?.required && registrationFormGroup.controls.role.touched">Ce champ est obligatoire</p>
                      <div class="form-group">
                        
                        <select  required  [(ngModel)]="user.pharmacie"  (ngModelChange)="setNewPharmacie($event)" class="form-control input-underline input-lg" style="color:gray"  formControlName="pharmacie" name="pharmacie" id="sel2" >
                          
                          <option *ngFor="let pharmacie of pharmacies"  [ngValue]="pharmacie" >  {{pharmacie.nom}} </option>
                          
                        </select>
                      </div>
                      <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.pharmacie.errors?.required && registrationFormGroup.controls.pharmacie.touched">Ce champ est obligatoire</p>
  
                        
<div class="form-group"> 
    <button class="btn rounded-btn" type="submit" [disabled]="!registrationFormGroup.valid"  > Enregistrer </button>          
            

    <button class="btn rounded-btn" [routerLink]="['/login']"> Se connecter </button>
                </div>
            
            </form>
        </div>
    </div>
</div>
